*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    width: 100%;
    background-color: #000;
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.hero_container{
    width: 100%;
    height: auto;
    min-height: 100vh;
    background: 
        linear-gradient(
            to right,
            #000000f7,
            #000000cf,
            rgba(42, 37, 1, 0.824)
        ),
        url('./images/johnson_jonah_image.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.header_body{
    width: 100%;
    height: 100px;
    padding: 0px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 9999;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
.scrolled {
    background-color: rgba(42, 42, 41, 0.856);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.header_logo_body > h3{
    font-family: "Roboto", sans-serif;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}
.header_nav_container{
    display: flex;
    gap: 40px;
    align-items: center;
}
.header_nav_container > a{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}
.hero_body{
    width: 100%;
    height: max-content;
    /* background-color: blue; */
    position: absolute;
    bottom: 80px;
    padding-left: 100px;
}
.hero_item_container{
    width: 54%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: brown; */
    gap: 20px;
}
.hero_item_container > h1{
    color: #fff;
    font-size: 38px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    line-height: inherit;
    overflow: hidden;
    border-right: 0.15rem solid gold;
    white-space: nowrap;
    animation: typing 4s steps(40, end) 1;
}
/* .head_text{
    overflow: hidden;
    font-size: 3.6rem;
    font-weight: 700;
    border-right: 0.15rem solid gold;
    white-space: nowrap;
    animation: typing 4s steps(40, end) infinite;
} */
@keyframes typing {
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}
.hero_item_container > p{
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    line-height: 28px;
}
.hero_item_container > a > button{
    width: max-content;
    padding: 12px 40px;
    background-color: rgba(242, 209, 21, 0.965);
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}
.about_container{
    width: 100%;
    padding: 0px 100px;
    display: flex;
    justify-content: space-between;
}
.about_text_container{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right: 20px;
    justify-content: center;
}
.about_text_container > h1{
    color: #fff;
    font-size: 28px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    line-height: inherit;
}
.about_text_container > p{
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 30px;
}
.about_text_container > p > span{
    color: gold;
}
.about_image{
    width: 50%;
    height: 600px;
}
.about_image > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(1);
    transition: 0.5s;
    border-radius: 6px;
}
.about_image:hover > img{
    filter: grayscale(0);
    transform: scale(1.01);
}
.service_container{
    width: 100%;
    background-color: rgb(57, 57, 57);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 100px;
    gap: 80px;
}
.service_container > h1{
    color: #fff;
    font-size: 28px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    line-height: inherit;
}
.service_box{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.dir_change{
    flex-direction: row-reverse;
}
.service_box_image{
    width: 60%;
}
.service_box_image > img{
    width: 100%;
    object-fit: cover;
    border-radius: 6px;
}
.service_box_text{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
}
.service_box_text > h3{
    color: #fff;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    line-height: inherit;
}
.service_box_text > p{
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 30px;
}
.dir_change_text{
    padding-right: 20px;
}
.project_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}
.project_container > h1{
    color: #fff;
    font-size: 28px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    line-height: inherit;
}
.carousel{
    position: relative;
    width: 80%;
    height: 500px;
    margin: auto;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    border-radius: 6px;
}
.carousel-images{
    width: 100%;
    height: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out;
    scroll-behavior: smooth;
}
.carousel-images img{
    width: 100%;
    height: 100%;
    flex: 0 0 100%;
    object-fit: contain;
}
.prev, .next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
}
.prev{
    left: 0;
}
.next{
    right: 0;
}
.book_me_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-bottom: 30px;
}
.book_me_container > h1{
    color: #fff;
    font-size: 28px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    line-height: inherit;
}
.book_me_container > p{
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 30px;
}
.input_container{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 10px;
}
.input_container > input{
    width: 100%;
    height: 50px;
    border-radius: 4px;
    outline: none;
    padding: 10px;
    border: 1px solid grey;
}
textarea{
    width: 100%;
    height: 200px;
    border-radius: 4px;
    padding: 10px;
    outline: none;
    font-size: 16px;
}
.input_container > a > button{
    width: 100%;
    padding: 20px 0px;
    background-color: rgba(242, 209, 21, 0.965);
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}
.menu_container{
    width: 12%;
    height: 40%;
    /* background-color: red; */
    display: none;
    color: #fff;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
.menu_icon{
    font-size: 28px;
}
.menu{
    width: 100%;
    height: 100vh;
    background-color: #353434;
    position: absolute;
    z-index: 1;
    bottom: 0px;
    left: 0px;
    top: 0px;
    right: 0px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    clip-path: circle(17% at right top);
    transition: clip-path 500ms;
}
.menu.visible{
    clip-path: circle(100%);
}
.menu > a{
    font-size: 22px;
    font-family: "Poppins",sans-serif;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    visibility: hidden;
    opacity: 0;
    transition: visibility 500ms, opacity 500ms;
}
.menu.visible a{
    visibility: visible;
    opacity: 1;
}

.contact_media_container{
    width: 100%;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    /* background-color: green; */
    border-top: 1px solid rgba(128, 128, 128, 0.531);
    margin-top: -60px;
}

.contact_media_container > h3{
    font-size: 18px;
    font-family: "Poppins",sans-serif;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    text-align: center;
}

.media_container{
    padding: 20px 10px;
    /* background-color: green; */
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.media_container > a{
    display: flex;
    align-items: center;
    gap: 6px;
    text-decoration: none;
    font-family: "Poppins",sans-serif;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    /* background-color: red; */
}
.media_container > a > i{
    width: 34px;
    height: 34px;
    color: #000;
    font-size: 20px;
    background-color: rgb(235, 250, 235);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.media_container > a > p{
    color: #fff;
    font-size: 16px;
}


@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade_up{
    opacity: 0;
    animation: fadeUp 1s ease-out forwards;
}

.fade_up:nth-child(1){
    animation-delay: 0.2s;
}

.fade_up:nth-child(2){
    animation-delay: 0.4s;
}

.fade_up:nth-child(3){
    animation-delay: 0.6s;
}


/* @keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
} */

/* @keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
} */

/* Initially hide the element */
.fade_in_left {
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

/* This class will trigger the animation */
.fade_in_left.visible {
    opacity: 1;
    transform: translateX(0);
}

.fade_in_right {
    opacity: 0;
    transform: translateX(100px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

/* This class will trigger the animation */
.fade_in_right.visible {
    opacity: 1;
    transform: translateX(0);
}

.fade_in_up {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

/* This class will trigger the animation */
.fade_in_up.visible {
    opacity: 1;
    transform: translateY(0);
}


@media screen and (max-width: 768px){
    .header_nav_container{
        display: none;
    }
    .menu{
        display: flex;
    }
    .header_body{
        padding: 0px 16px;
    }
    .menu_container{
        display: flex;
    }
    .hero_body{
        bottom: 170px;
        padding-left: 16px;
    }
    .hero_item_container{
        width: 100%;
    }
    .hero_item_container > h1{
        border-right: none;
        white-space: normal;
        animation: none;
    }
    .about_container{
        padding: 0px 16px;
        flex-direction: column-reverse;
        gap: 30px;
    }
    .about_image{
        width: 100%;
        height: 400px;
    }
    .about_text_container{
        width: 100%;
        text-align: center;
        gap: 5px;
        padding-right: 0px;
    }
    .service_container{
        padding: 50px 16px;
        gap: 50px;
    }
    .service_box{
        flex-direction: column;
        gap: 20px;
    }
    .service_box_image{
        width: 100%;
    }
    .service_box_text{
        width: 100%;
        gap: 10px;
        padding-left: 0px;
    }
    .dir_change_text{
        padding-right: 0px;
    }
    .project_container{
        gap: 0px;
    }
    .carousel{
        width: 100%;
    }
    .book_me_container{
        padding: 30px 16px;
    }
    .input_container{
        width: 100%;
    }
    body{
        gap: 50px;
    }

    .media_container{
        justify-content: space-between;
        padding: 20px 16px;
    }
}

@media screen and (max-width: 325px){
    .hero_body{
        bottom: 10px;
        padding-left: 10px;
    }
    .hero_item_container > h1{
        font-size: 28px;
    }
    .hero_item_container{
        gap: 10px;
    }
}